{% load humanize %}
{% for question in questions %}
  <div class="row">
    <div class="col-1" align="center">
      <br>
      <p>{{ question.rating }}</p>
      <p>Votes</p>
    </div>
    <div class="col-1" align="center">
      <br>
      <p>{{ question.num_answers }}</p>
      <p>Answers</p>
    </div>
    <div class="col-6">
      <h2><a class="text-dark" href="{% url 'question' slug=question.slug %}">{{ question.title }}</a></h2>
      <br>
      {% for tag in question.tags.all %}
        <a href="{% url 'tag' tag_text=tag %}" class="btn btn-primary" role="button">{{ tag }}</a>
      {% endfor %}
    </div>
    <div class="col-4">
      <br><br>
      <img class="avatar-img" src="{{ question.author.get_avatar_url }}" width="50", height="50">
      {{ question.author | capfirst }}
      <p>Asked {{ question.post_time | naturaltime }}</p>
    </div>
  </div>
  <hr>
{% endfor %}
